{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>
    <link href="{% static 'css/feedback.css' %}" rel="stylesheet"/>
</head>
<body>
{% for i in fb %}
    {{ i.author }}<br>
    {{ i.text }}<br>
    {{ i.date }}<br>
    {{ i.rating }}<br>
{% endfor %}
<h4>Add new feedback</h4>
<form action="" method="POST">
    {% csrf_token %}
    <div>{{ feedback_form.as_p }}</div>
   <input type="submit" value="Add feedback">
</form><br>

</body>
</html>