<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My post</title>
</head>
<body>
<div style="text-align: center; margin-top: 40px; margin-bottom: 40px">
    <a style="font-size:35px; color: black" href="{% url 'post_list' %}">Teach Me Skills</a>
</div>
{% for post in items%}
<div style="margin-top: 20px;"> <a href="{% url 'post_detail' post_pk=post.pk %}">{{post.title}}</a><br>
    {{post.author}} {{post.publish_date}}<br>
    {{post.text}}<br>
</div>
{% endfor %}
</body>
</html>