<!DOCTYPE html>
<html>
<body>

<h2>New Post</h2>

<form action="" method="POST">{% csrf_token %}
    <!--  <label for="fname">First name:</label><br>-->
    <!--    <input type="text" id="fname" name="fname" value="John"><br>-->
    <!--  <label for="lname">Last name:</label><br>-->
    <!--    <input type="text" id="lname" name="lname" value="Doe"><br><br>-->
    <!--  <input type="submit" value="Submit">-->
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

</body>
</html>