{% for i in spisok %}
        <div style="margin: 25px; margin-top:5px; display: inline-block">
            <div class="post_info">
                <div class="titles">
                    <a href="{% url 'post_detail' post_pk=i.pk %}">{{ i.title }} ({{ i.feedbacks__rating__avg }})</a>
<!--                    <a href="{% url 'post_detail' post_pk=i.pk %}">{{ i.feedbacks__rating__avg }}</a>-->
                </div>
              <div style="font-size: 16px; text-align: center; border-top: 1px solid">{{i.published_date}}</div>
            </div>
        </div>
{% endfor %}