<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post list</title>
</head>
<body>
<style>
    a {
     text-decoration: none;
    }
    a:hover {
<!--        font-size: 25px;-->
        color: yellow;
    }
</style>
<!--    {{ items }}-->
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px">
        <a style="font-size:35px; color: black" href="{% url 'post_list' %}">Teach Me Skills</a>
    </div>
    <div style="text-align: right; margin: 20px">
        {% if user.is_authenticated %}
        {% csrf_token %}
            <div><a href="{% url 'users:profile' %}">{{ user.username }}</a></div><br>
            <div><a href="{% url 'users:logout' %}">Logout</a></div>
        {% else %}
            <div><a href="{% url 'users:login' %}">Login</a></div><br>
        {% endif %}
    </div>
    <div style="margin: 20px; text-align: right">
        <h3>Category</h3>
        {% for i in category %}
        <a href="{% url 'categories' category_pk=i.pk %}">{{ i }}</a></br></br>
        {% endfor %}
    </div>
    <div style="margin-left: 50px ; margin-top: 40px; margin-bottom: 40px; ">
        <a style="font-size:15px; color: black; border: 1px solid; border-radius: 20px; padding:10px"
           href="{% url 'post_new' %}">
            Create new post
        </a>
        <a style="border: 2px solid; border-radius: 10px; padding: 5px"
           href="{% url 'my_posts' %}">
            My posts
        </a>
        <a style="margin: 10px; font-size:15px; color: black; border: 1px solid; border-radius: 20px; padding:10px"
           href="{% url 'post_draft' %}">
            Unpublished
        </a>
    </div>
    {% for post in items %}
     <div style="margin: 20px; display: inline-block">
         <div style="border: 1px solid; ">
            <div style="margin: 20px; text-align: center">
                <a href="{% url 'post_detail' post_pk=post.pk%}">{{ post.title }}</a>
            </div>
            <div style="border-top: 1px solid"> {{ post.author}}</div>
            <div style="border-top: 1px solid"> {{ post.publish_date}}</div>
         </div>
     </div>
     {% endfor %}</br>
     <h4>Number of posts: {{counter}}</h4>
     <div>
    <a  href="{% url 'recomends' %}">
        <p>Recomends</p>
    </a>
</div>
</body>
</html>