<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post detail</title>
</head>
<body>
<style>
    a {
     text-decoration: none;
    }
    a:hover {
<!--        font-size: 25px;-->
        color: yellow;
    }
</style>
<!--    {{ items }}-->
    <div style="text-align: center; margin-top: 40px; margin-bottom: 40px">
        <a style="font-size:35px; color: black" href="{% url 'post_list' %}">Teach Me Skills</a>
    </div>
  <div style="text-align: center; margin-top: 40px; margin-bottom: 40px; ">
        <a style="margin: 5px; font-size:15px; color: black; border: 1px solid; border-radius: 20px; padding:10px"
           href="{% url 'post_list' %}">
            Back to post
        </a>
        <a style="margin: 5px; font-size:15px; color: black; border: 1px solid; border-radius: 20px; padding:10px"
           href="{% url 'post_edit' post_pk=post.pk %}">
            Edit
        </a>
        {% if post.published == False %}
        <a style="margin: 5px; font-size:15px; color: black; border: 1px solid; border-radius: 20px; padding:10px"
           href="{% url 'published_post' post_pk=post.pk %}">
            Publicate
        </a>
        {% endif %}
        <a style="margin: 5px; font-size:15px; color: black; border: 1px solid; border-radius: 20px; padding:10px"
           href="{% url 'post_delete' post_pk=post.pk %}">
            Delete
        </a>
  </div>
         <div style="text-align: center; font-size: 25px; margin: 10px"> <em>{{ post.category }} </em></div>
     <div style="">
         <div style="text-align: center">
             <div style=""> <b>{{ post.author}}</b> <em>{{ post.publish_date}}</em></div>
           <div style="font-size: 30px; padding:20px">
              <a >{{ post.title }}</a>
            </div>
            <div style="text-align: left; margin: 20px; color: red">
                <p><em>Рейтинг: {{ counts }}</em></p>
            </div>
           <div style="margin-top: 30px">
                {{ post.text }}
           </div>
           <div style="margin: 40px 0px 0px 40px; text-align: left">
               <h4><em>Comments ({{ counter }})</em></h4>
           </div>
           <div style="margin: 30px 20px 20px 40px; pagging-text: 5px; text-align: left">
               {% for i in comments %}
               <b>{{ i.author}}</b> <em>{{ i.publish_date}}</em></br>
               {{ i.text }}</br></br>
               {% endfor %}
           </div>
           <div style="text-align: left; margin: 20px">
           <h4>Add new comment</h4>
           <form action="" method="POST">{% csrf_token %}
                {{comment_form.as_p}}
               <input type="submit" value="Add comment">
            </form><br>
            <button >
                <a style="color: black" href="{% url 'feedback' post_pk=post.pk %}">Feedbacks</a>
            </button>
            </div>

         </div>
     </div>

</body>
</html>